html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
}

section {
  height: 12em;
  width: 42%;
  margin: 0.75em 0.5em;
}

footer img {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.permanent {
  background-image: url('./assets/toreador.png');
  background-size: cover;

  .indexText {
    background-image: url('./assets/itemFooterLeft.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 110%;
    text-align: right;
  }
}

.architecture {
  background-image: url('./assets/enigma.png');
  background-size: cover;
  text-align: right;

  .indexText {
    background-image: url('./assets/itemFooterLeft.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 110%;
    text-align: right;
  }
}

.family {
  background-image: url('./assets/decoded.jpg');
  background-size: cover;

  .indexText {
    background-image: url('./assets/itemFooterRight.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 110%;
    text-align: right;
  }
}

.expedition {
  background-image: url('./assets/schiap.png');
  background-size: contain;
  background-repeat: no-repeat;

  .indexText {
    background-image: url('./assets/itemFooterRight.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 110%;
    text-align: right;
  }
}

.indexText {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  color: #fefffe;

  span {
    font-size: 10px;
    margin: 0 0.2em 0 0;
  }
  h3 {
    font-size: 12px;
    margin: 0;
  }
}
