p {
  padding: 0 1em;
  margin: 0;
  color: #4d4d4d;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #f6f6f6;
  height: 72px;
}

.bottomNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 0.5em;
}

/******************************/
/******    Icons       ********/
/******************************/

.fa-list {
  font-size: 30px;
  color: #4d4d4d;
}

.guideIcon {
  width: 30px;
  height: 30px;
}
