p {
  color: #4d4d4d;
  font-size: 16px;
}

.guideSection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.4em 1em;
  background-color: #eeeeef;
}

.SelectionView > img {
  width: 100%;
  z-index: 1;
  /*position: absolute;*/
}

.paintingSelection {
  padding: 0;
  height: 280px;
  background-image: url('../../assets/daddyLongLegs.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.audioPlay {
  display: flex;
  justify-content: center;
  background-color: #f9f9fa;
  border-radius: 5px;
}

.fa-arrow-down {
  text-align: center;
  color: #4d4d4d;
}

.fa-play {
  color: #4d4d4d;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
}
