footer p {
  padding: 0 1em;
  margin: 0;
  color: #4d4d4d;
}

.selectionContainer {
  display: flex;
  flex-direction: column;
  /*background-color: #d3d2d3;*/
  height: 80vh;
  padding: 3em 0;
}

.selection {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #d3d2d3;
  color: black;
  text-decoration: none;
  font-size: 12px;
}

.selection img {
  width: 7em;
  height: 5em;
}

.details {
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
}

@media (min-width: 520px) {
  .selection {
    margin: 0.3em;
  }
  .selection img {
    width: 14%;
    height: 100%;
  }
  .details {
    font-size: 18px;
  }
  .selectionContainer {
    padding: 5em 0;
  }
}
