footer p {
  padding: 0 1em;
  margin: 0;
  color: #4d4d4d;
}

.selectionContainer {
  display: flex;
  flex-direction: column;
  background-color: #d3d2d3;
  height: 80vh;
  padding: 3em 0;
  border-bottom: 1em solid white;
}

.selection {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #d3d2d3;
  color: black;
  text-decoration: none;
  font-size: 12px;
}

.selection img {
  width: 7em;
  height: 5em;
}

.details {
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
}

.item {
  width: 120px;
  height: 80px;
}
