.Index {
  overflow: hidden;
  height: 100vh;
  background-color: #dbdbdb;
  /*position: fixed;*/
}

section {
  height: 12em;
  width: 42%;
  margin: 0.75em 0.5em;
}

footer img {
  width: 101%;
  height: 103%;
  position: relative;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 86vh;
  padding: 10% 0 4% 0;
}

.permanent {
  background-image: url("../../assets/toreador.png");
  background-size: cover;
  /*Temp Adjusment for Demo*/
  height: 70%;
  width: 70%;
  margin: 0.75em 0.5em;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  transition: transform 0.5s, opacity 0.3s;
}

.permanent:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.permanent .indexText {
  background-image: url("../../assets/itemFooterLeft.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 110%;
  text-align: right;
}

.permanent .indexText > span {
  font-size: 16px;
}

.permanent .indexText > h3 {
  font-size: 20px;
}

.architecture {
  background-image: url("../../assets/enigma.png");
  background-size: cover;
  text-align: right;
}

.architecture .indexText {
  background-image: url("../../assets/itemFooterLeft.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 110%;
  text-align: right;
}

.family {
  background-image: url("../../assets/decoded.jpg");
  background-size: cover;
}

.family .indexText {
  background-image: url("../../assets/itemFooterRight.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 110%;
  text-align: right;
}

.expedition {
  background-image: url("../../assets/schiap.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.expedition .indexText {
  background-image: url("../../assets/itemFooterRight.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 110%;
  text-align: right;
}

.indexText {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  color: #fefffe;
}

.indexText span {
  font-family: "Signika", san-serif;
  font-size: 10px;
  margin: 0 0.2em 0 0;
  padding: 0 1em;
  text-decoration: none;
}

.indexText h3 {
  font-family: "Signika", san-serif;
  font-size: 12px;
  margin: 0;
  padding: 0 1em 0.5em 0;
  text-decoration: none;
}

@media (min-width: 600px) {
  .permanent {
    width: 60%;
  }

  .indexText span {
    font-size: 16px;
    margin: 0;
  }
  .indexText h3 {
    font-size: 20px;
    margin: 0;
  }
  footer img {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 40px;
  }
}
