.BottomNavList {
  display: flex;
  justify-content: space-around;
  background-color: #f6f6f6;
  height: 72px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.icon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.icon > p {
  padding: 0 1em;
  margin: 0;
  color: #4d4d4d;
}

.fa-list {
  font-size: 30px;
  color: black;
}

.guideIcon {
  width: 30px;
  height: 30px;
}

@media (min-width: 520px) {
  .footer {
    height: 72px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
}
